POSTGRES_PASSWORD=admin

MAIL_DOMAIN=example.com

LDAP_DOMAIN=example.org
LDAP_ORGANISATION="Example Inc."

LDAP_USER_PASSWORD=testuser
LDAP_ADMIN_PASSWORD=admin

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

DEBUG=True
SECRET_KEY=secretIJTOsfg345fgIOJGnhrbnjiwSREWF
DJANGO_OIDC_SECRET=secretDzHZjOJ01U6vJNqLpOtvTgnjS2
FRC_CAPTCHA_SECRET=secret
FRC_CAPTCHA_SITE_KEY=key
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin
POSTGRES_DJANGO_DB=django
POSTGRES_DJANGO_USER=django
POSTGRES_DJANGO_PASSWORD=django
POSTGRES_DOVECOT_USER=dovecot_user
POSTGRES_DOVECOT_PASSWORD=dovecot_password
POSTGRES_REPLICATION_USER=replicator
POSTGRES_REPLICATION_PASSWORD=replicator

LDAP_MAIL_SERVER_URI="ldap://openldap"
LDAP_MAIL_BIND_DN="cn=admin,dc=example,dc=org"
LDAP_MAIL_BIND_PASSWORD=admin
LDAP_MAIL_USER_BASE_DN="ou=people,dc=example,dc=org"

ROUNDCUBEMAIL_DB_USER=roundcube
ROUNDCUBEMAIL_DB_PASSWORD=roundcube
ROUNDCUBEMAIL_DB_NAME=roundcube
ROUNDCUBEMAIL_OIDC_SECRET=secretD1P1J2fO0fxhTZlQxNQZlGTohR

SSO_PROVIDER=keycloak
CUSTOM_LOGOUT_OIDC=http://keycloak:8080/realms/example/protocol/openid-connect/logout

PERMISSION_GROUP_GUEST_MANAGEMENT=GUEST_MANAGEMENT
PERMISSION_GROUP_EDUROAM_ACCESS=EDUROAM_ACCESS
PERMISSION_GROUP_EVENTS_MANAGEMENT=EVENTS_MANAGEMENT
PERMISSION_GROUP_EMAILDEVICE_ACCESS=EMAILDEVICE_ACCESS