hosts = openldap:389
dn = cn=admin,dc=example,dc=org
dnpass = ${LDAP_ADMIN_PASSWORD}
base = ou=people,dc=example,dc=org

auth_bind = yes

pass_attrs = userPrincipalName=user

user_attrs = userPrincipalName=user,\
  =home=/var/vmail/%Ld/%Ln,\
  =uid=5000,\
  =gid=5000

pass_filter = (&(userPrincipalName=%Lu)(mailLoginByLdap=TRUE))
user_filter = (userPrincipalName=%Lu)

iterate_attrs = userPrincipalName=user
iterate_filter = (objectClass=organizationalPerson)

